@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --background: #0f172a; */
        --background: linear-gradient(to bottom right, #007BFF, #FFA500, #121212);
        --foreground: #f1f1f1;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}
